/* @keyframes BackgroundAnim {
    0%{
        background-image: url('../../tela_inicial/background.png');
    }
    50%{
        background-image: url('../tela_inicial/background-noite.jpg');
    }
    100%{
        background-image: url('../tela_inicial/background.png');
    }
} */
@font-face {
    font-family:'Poppins Bold';
    src: url('../../assets/font/Poppins/Poppins-Bold.ttf');
  }

  @font-face {
    font-family:'Poppins Regular';
    src: url('../../assets/font/Poppins/Poppins-Regular.ttf');
  }

.btVideo{
    background: url('../../assets/img/Video_apresentacao_pq_layout.png') no-repeat;
    width: 236px;
    height: 226px;
    position: absolute;
    border: none;
    background-size: 90%;
    display: block;
    margin-left: 35px;
    margin-top: 40px;
    transition: all 0.2s;
}
.btVideo:hover {
    transform: scale(1.1);
}
.modal-dialog .modal-content{
    background: url('../../assets/img/video_bg.png') no-repeat center;
    width: 1133px;
    height: 708px;
    border: none;
    padding: 100px 200px;
    background-size: 85%;
    position:relative;
    z-index: 9999;
}
.modal-dialog .modal-content p{
    color: #fff;
    clear: both;
    margin-bottom: 20px;
    padding: 15px;
}

.btnFechar{
    color: #fff;
    clear: both;
}

.imgCentro{margin-top: 8%;
position: absolute;
left: 23%;}

.imgTitulo{
    position: absolute;
    left:17%;
    top:22%;
}

#btIniciar{  
    position: absolute;
    left:20%;
    top:68% !important;}

#btIniciar:hover{
 transform: scale(1.1);
}

.imgBandeira{
    position: absolute;
    left:47%;
    top:6%;
}

.imgPersonagem1{
    position: absolute;
    left:65%;
    top:49%;
}

.imgPersonagem2{
    position: absolute;
    left:76%;
    top:37%;
}

.titulo{
    color:#fff;
    font-family:'Poppins Regular';
    left:76%;
    top:90%;
    position: absolute;
}

#videoplay{
    width: 200px;
    position: absolute;
    bottom: 5%;
    left: 70%;
}
#logo{
    position: absolute;
    right: 45px;
    margin-top:40px;
    width: 100px;
}
#wrapper {
    height: 100vh;
    width: 100vw;
    background-image: url('../../conteudo/assets/img/background_tela_inicial.png');
    background-position: center;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
    background-attachment: fixed;
}
.menu {
    position: absolute;
    bottom: 85px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.menu a {
    width: 382px;
    height: 273px;
    display: block;
    background-position: center;
}


/* Modal vídeo */
.backdrop {
    position: absolute;
    z-index: 99;
    height: 100vh;
    width: 100vw;
    background-color: #33333395;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-video {
    width: 1100px;
    height: 650px;
    background-image: url('../../tela_inicial/Video-apresentacao-gd.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 100px;
    padding-left: 210px;
    color: white;
}

.ytb {
    width: 560px;
    height: 315px;
    display: block;
    margin: 15px;
}

.fechar {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    display: block;
    float: right;
    margin-right: 320px;
    padding: 5px 15px;
}

.fechar:hover {
    background-color: white;
    color: #007981;
}

.btn-video {
    width: 227px;
    height: 227px;
    background-image: url('../tela_inicial/Video-apresentacao-pq.png');
    padding-left: 28px;
    padding-top: 25px;
    color: white;
    position: absolute;
    left: 25px;
    top: 25px;
    z-index: 89;
}
.btn-video:hover {
    transform: scale(1.01);
    cursor: pointer;
}

.img-play {
    height: 100px;
    margin-left: 22px;    
}

#logoMobile{
    position: absolute;
    right: 10px;
    width: 20%;
}





@media only screen and (max-width:480px){
.imgBandeira {
    left: 39%;
    top: 17% !important;
    width: 8%;
}
.imgCentro {
    margin-top: 42% !important;}

.imgTitulo {
    left: 36% !important;
    top: 39% !important;}

#btIniciar {
    left: 28% !important;
    top: 71% !important;
}
.titulo {
    left: 27% !important;
    top: 86% !important;
}
#logo{width: 70px !important;}
.btVideo {
    width: 21% !important;
    top: 2%;
}
}





@media screen and (max-width:820px){
    .modal-dialog .modal-content{
        background-size: 30%;
        background-position: center;
        background: unset;
        max-width: 100%;
        padding: 50px;
        background: #007981;
    }
    .btVideo {margin-left: 40px;}
    .imgCentro {
        margin-top: 23%;
        left: 7%;
        width: 80%;
        position: fixed !important;
    }
    .imgTitulo {
        width: 25%;
        left: 3%;
        top: 30%;
        position: fixed;
    }
    #btIniciar {
        left: 35%;
        top: 70%;
        position: fixed;
    }
    .imgBandeira {
        width: 5%;
        left: 41%;
        top: 10%;
        position: fixed;
    }
    .imgPersonagem1 {
        width: 12%;
        left: 67%;
        top: 32%;
    position: fixed;}
    .imgPersonagem2 {
        left: 80%;
        top: 26%;
        width: 12%;
    position: fixed;}
    
    .titulo{left: 33%;
    top:85%;
    position: fixed;}
    .btVideo {width: 15%;
    top:2%}
    #logo {top:2%}
}
    
@media only screen and (min-width:821px) and (max-width:1450px){

    .imgCentro {
        margin-top: 11%;
        position: fixed;
        left: 15%;
        width: 66%;
    }
    .imgBandeira {
        position: absolute;
        left: 43%;
        top: 8%;
        width: 4%;
    }
    .imgTitulo {
        position: absolute;
        left: 17%;
        top: 22%;
        width: 20%;
    }
    .imgTitulo {
        position: absolute;
        left: 10%;
        top: 30%;
        width: 16%;
    }
    #btIniciar {
        position: absolute;
        left: 10%;
        top: 64%;
    }
    .imgPersonagem2 {
        position: absolute;
        left: 76%;
        top: 37%;
        width: 10%;
    }
    .imgPersonagem1 {
        position: absolute;
        left: 62%;
        top: 42%;
        width: 10%;
    }
    .btVideo {width: 13%;
        top:2%}
    #logo {top:2%;
    width:9%}

}

@media screen and (min-width:2400px) {
.imgPersonagem1 {
    left: 55%;
    top: 42%;}
.imgPersonagem2 {
    left: 63%;
    top: 32%;}
.imgBandeira {
    position: absolute;
    left: 41%;
    top: 6%;
}



}


@media only screen and (min-width:1500px) and (max-width:2000px){
#btIniciar {
    left: 21%;
    top: 68%;
}
.imgBandeira {
    left: 47%;
    top: 4%;
}
}