.ODA_memoria_pc {
  width: 820px;
  max-width: 100%;
  margin: 30px auto;
  background: rgb(210, 233, 255);
  background: radial-gradient(circle, rgb(210, 233, 255) 0%, rgb(80, 215, 226) 100%);
  position: relative;
  /* Efeito de card no hover */
}
.ODA_memoria_pc .tela_inicial, .ODA_memoria_pc .tela_final {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.6);
  z-index: 10;
  display: flex;
  justify-content: center;
  padding-top: 160px;
}
.ODA_memoria_pc .tela_inicial .msg_inicial, .ODA_memoria_pc .tela_inicial .msg_final, .ODA_memoria_pc .tela_final .msg_inicial, .ODA_memoria_pc .tela_final .msg_final {
  background-color: white;
  height: fit-content;
  padding: 25px 30px;
  border-radius: 10px;
  border: 4px solid rgb(80, 215, 226);
  text-align: center;
  max-width: 80%;
}
.ODA_memoria_pc .tela_inicial .msg_inicial p, .ODA_memoria_pc .tela_inicial .msg_final p, .ODA_memoria_pc .tela_final .msg_inicial p, .ODA_memoria_pc .tela_final .msg_final p {
  font-size: 20px;
}
.ODA_memoria_pc .start, .ODA_memoria_pc .start-again {
  padding: 6px 22px;
  font-size: 20px;
  font-weight: 600;
  background-color: white;
  border: 2px solid rgb(80, 215, 226);
  border-radius: 5px;
}
.ODA_memoria_pc .start:hover, .ODA_memoria_pc .start-again:hover {
  transform: translateY(-3px);
  box-shadow: 2px 2px 1px #333;
}
.ODA_memoria_pc .card {
  width: 180px;
  height: 250px;
  background-color: transparent;
  border: none;
  margin: 10px auto;
  -webkit-perspective: 600px;
  perspective: 600px;
  cursor: pointer;
  transition-duration: 0.1s;
  border-radius: 10px;
}
.ODA_memoria_pc .card img {
  height: 100%;
}
.ODA_memoria_pc .card:hover {
  transform: scale(1.03);
}
.ODA_memoria_pc .ladoFrente {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 10px;
  -webkit-transform: rotateX(0) rotateY(0);
  transform: rotateX(0) rotateY(0);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background: rgb(210, 233, 255);
  background: radial-gradient(circle, rgb(110, 133, 255) 0%, rgb(40, 115, 126) 100%);
}
.ODA_memoria_pc .checking {
  pointer-events: none;
}
.ODA_memoria_pc .ladoTras {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 800;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-transform: rotateY(-179deg);
  transform: rotateY(-179deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background: #4a052f;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 500;
  padding: 0;
  align-items: center;
  line-height: 1.2rem;
  filter: drop-shadow(3px 3px 3px black);
}
.ODA_memoria_pc .ladoTras .text {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 3px;
}
.ODA_memoria_pc .ladoTras h3 {
  font-size: 22px;
  margin-top: 0;
}
.ODA_memoria_pc .ladoFrente img,
.ODA_memoria_pc .ladoTras img {
  width: 100%;
}
.ODA_memoria_pc .card.selected .ladoFrente,
.ODA_memoria_pc .card.correto .ladoFrente {
  z-index: 900;
  background: #333;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  -webkit-transform: rotateY(179deg);
  transform: rotateY(179deg);
}
.ODA_memoria_pc .card.selected .ladoTras,
.ODA_memoria_pc .card.correto .ladoTras {
  z-index: 1000;
  -webkit-transform: rotateX(0) rotateY(0);
  transform: rotateX(0) rotateY(0);
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
}
.ODA_memoria_pc .card.selected,
.ODA_memoria_pc .card.correto {
  pointer-events: none;
}
.ODA_memoria_pc .tela_cartas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.ODA_memoria_pc .card.correto {
  border: 3px solid rgb(32, 197, 45);
  transition-duration: 0.3s;
  position: relative;
}
.ODA_memoria_pc .card.correto::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-image: url("../img/check-solid.svg");
  background-repeat: no-repeat;
  z-index: 1500;
  border-radius: 10px;
}
.ODA_memoria_pc .card.errado::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 96, 82, 0.5);
  z-index: 1500;
}
.ODA_memoria_pc .card.errado {
  border: 3px solid rgb(250, 126, 112);
  position: relative;
  transition-duration: 0.3s;
}
.ODA_memoria_pc .tradicionais .text h3 {
  font-size: 18px;
  font-weight: 600;
}
.ODA_memoria_pc .tradicionais .text p {
  font-size: 15px;
}
@media (max-width: 500px) {
  .ODA_memoria_pc .card {
    width: 160px;
    height: 240px;
  }
  .ODA_memoria_pc .tela_cartas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

/*# sourceMappingURL=memoria.css.map */
